<h1 class="text-center text-success">Developers</h1>
<div class="row m-2" >
  <select  [(ngModel)]="sortBy"  class="form-control w-25 "  >
    <option value="" disabled selected >Choose sort by</option>
    <option >name</option>
    <option >age</option>
    <option >salary</option>
  </select>
  <select  [(ngModel)]="sortByDir"  class="form-control w-25 " >
    <option value="" disabled selected >Choose sorting direction</option>
    <option >increased</option>
    <option >decreased</option>
  </select>
</div>
<div>
  <input [(ngModel)]="findText" class="form-control w-25  m-2" placeholder="Find Skills" type="text">
</div>
<div class="row m-2" >
  <select  [(ngModel)]="filterBy" class="form-control w-25"  >
    <option value="" disabled selected >Filter by</option>
    <option >BackEnd</option>
    <option >FrontEnd</option>
    <option >FullStack</option>
  </select>
</div>
<div class="card-deck p-2 ">
  <div class="card  border-dark bg-success " *ngFor="let d of developers|gender|mail|senior|sort:sortBy:sortByDir |find:findText |filter:filterBy" >
    <div  class="card-body" >
      <h1 class="card-title">{{d.name}} {{d.surename}}</h1>
      <h4>Age:{{d.age}}</h4>
      <h4>Email:{{d.email}}</h4>
      <h4>Salary:{{d.salary}}</h4>
      <h4>{{d.direction}}</h4>
      <ul class="list-group">
        <h4>Skills:</h4>
          <li *ngFor="let s of d.skills ">
            {{s}}
          </li>      
      </ul>

    </div>
  </div>
</div>